DATABASE_URL="postgresql://postgres:password@localhost:5432/ecommerce?schema=public"
JWT_SECRET="ton-super-secret-256-bits-minimum"
DB_NAME=ecommerce
DB_USER=postgres
DB_PASS=password
PORT=3000
NODE_ENV=production
